services:
  web:
    build: .
    image: sanjeeb3334/django_web:latest
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media 
    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d/nginx.conf:/etc/nginx/conf.d/nginx.conf
      - ./certs:/etc/certs
      - static_volume:/app/static
      - media_volume:/app/media 
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
