version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - 8000:8000
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - celery
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      
  redis:
    image: redis:7.0
    container_name: redis_server
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A e_commerce worker --loglevel=info
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER={{secrets.POSTGRESUSER}}
      - POSTGRES_PASSWORD={{secrets.POSTGRESPASSWORD}}
      - POSTGRES_DB={{secrets.POSTGRESDB}}
    ports:
      - "5432:5432"
volumes:
  postgres_data:
